@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

@import 'variables.scss';
@import 'mixins.scss';
@import 'common.scss';
//Import more of your style here

.nav {
  &__menu {
    width: 100%;
    height: auto;
    background-color: #80d8ff;
    display: none;
    transition: 0.6s;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0;

    &.active {
      display: block;
    }
  }

  &__toolbar {
    height: 51px;
  }
}

.main {
  background-color: $bg-color;
}

.auth {
  &__section {
    max-width: $min-width_sm;
    width: 100%;
    min-height: 90vh;
  }

  &__title {
    margin-top: 40px;
    font-size: $h1-font-size;
  }

  &__select {
    max-width: 3rem;
  }

  &__input {
    min-width: 70%;
  }
}

.room {
  &__favor {
    cursor: pointer;
  }
  
  &__title {
    font-size: $small-font-size;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }

  &__small {
    font-size: $small-font-size;
  }

  &__smaller {
    font-size: $smaller-font-size;
  }

  &__img {
    height: 100%;
  }

  &__header{
    font-size: $h3-font-size;
  }

  &__card {
    height: 100%;
  }
}

.filter {
  &__section {
    .v-expansion-panel-content__wrap {
      padding: 0;
    }
  }

  &__content {
    > * {
      margin-left: 0.5rem;
    }
    align-items: center;
    line-height: 1;
    padding: 0;
  }

  &__text {
    font-size: $h2-font-size;
    margin-top: 1.25rem;
  }

  &__title {
    font-size: $h1-font-size;
  }
}

.owner {
  &__name {
    font-weight: 400;
    font-size: 1.25em;
  }
}

.home {
  &__title {
    font-size: $h1-font-size;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: $small-font-size;

  }

  &__header {
    font-size: $h2-font-size;
    width: 100%;
  }
}

.map {
  &__big {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    position: relative;
  }

  &__container {
    width: 100%;
    min-height: 80vh;
  }

  &__bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 200px;
  }

  &__overflow {
    overflow-y: auto;
    max-height: 180px;
  }
}

.required {
  & label::after {
    content: '(*)';
    color: #D32F2F;
    margin-left: 0.5rem;
  }
}

.right-text-field {
  .v-text-field__slot {
    input {
      text-align: right;
    }
  }
}

@import 'reset.scss';